.ongoing-service {
  background-color: #779bd0;
  width: 350px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  cursor: pointer;
}
.ongoing-service-image {
  width: 110px;
  height: 110px;
}
.ongoing-service-image-item {
  width: 110px;
  height: 110px;
  border-radius: 5px;
}
.ongoing-service-details {
  width: 210px;
}

@media (min-width: 768px) {
  .ongoing-service {
    width: 370px;
  }
}
