.container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 900px;
  height: 500px;
  padding: 30px;
  background-color: #779bd088;
  border-radius: 5px;
}

@media (min-width: 768px) {
}
