.container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 350px;
  height: 580px;
  padding: 30px;
  background-color: #dce6f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  position: relative;
}
.pegada-pet-390 {
  position: absolute;
  top: 180px;
  right: 10px;
  width: 350px;
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}
.pegada-pet-220 {
  position: absolute;
  top: 60px;
  right: -10px;
  width: 180px;
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}

.form-title {
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .form-container {
    width: 900px;
    height: 650px;
    padding: 30px;
    border-radius: 5px;

    position: relative;
  }

  .pegada-pet-390 {
    position: absolute;
    top: 100px;
    right: 60px;
    width: 420px;
    pointer-events: none;
    z-index: 0;
  }
  .pegada-pet-220 {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 180px;
    pointer-events: none;
    z-index: 0;
  }

  .form {
    width: 430px;
    background-color: #779bd042;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }

  .form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }
}
